# Compiled Object ***REMOVED***les, Static and Dynamic libs (Shared Objects***REMOVED***
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture speci***REMOVED***c extensions/pre***REMOVED***xes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
.idea
vendor
bin
package.json
node_modules
.localsecret
secret.py
deploy.lock
*.pyc
swagger/swagger.json
