---
swagger: '2.0'

################################################################################
#                              API Information                                 #
################################################################################
info:
  title: rest-api-sample
  version: "0.0.1"

################################################################################
#                  Host, Base Path, Schemes and Content Types                  #
################################################################################
host: api.tinkerpatch.com

schemes:
  - https
produces:
  - application/json



################################################################################
#                                   Tags                                       #
################################################################################
tags:
  - name: Users
  - name: Relationships
    description: |
      Relationships are expressed using the following terms:

      **outgoing_status**: Your relationship to the user. Can be "follows",
        "requested", "none".
      **incoming_status**: A user's relationship to you. Can be "followed_by",
        "requested_by", "blocked_by_you", "none".

################################################################################
#                                   Parameters                                 #
################################################################################
parameters:
  user-id:
    name: user-id
    in: path
    description: The user identifier number
    type: number
    required: true
  tag-name:
    name: tag-name
    in: path
    description: Tag name
    type: string
    required: true

################################################################################
#                                           Paths                              #
################################################################################
paths:
  /users/register:
    post:
      tags: ["Users"]
      description: |
        "register a account with password"
      operationId: addOne
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/registerInfo'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/retStatus'
        default:
          description: Error
          schema:
            $ref: '#/definitions/retStatus'
  /users/email_login:
    post:
      tags: ["Users"]
      description: "login in with password"
      operationId: find
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/emailLogin'
      responses:
        '200':
          description: Logined
          schema:
            $ref: '#/definitions/retStatus'

################################################################################
#                                 Definitions                                  #
################################################################################

definitions:
  registerInfo:
    type: object
    required:
      - username
      - password
      - email
    properties:
      username:
        type: string
      password:
        type: string
        minLength: 6
      email:
        type: string

  retStatus:
    type: object
    required:
      - status
    properties:
      status:
        type: string
      code:
        type: integer
        format: int64
      message:
        type: string
      data:
        type: object

  emailLogin:
    type: object
    required:
      - password
      - rkey
      - username
    properties:
      email:
        type: string
      password:
        type: string
      rkey:
        type: string


