---
swagger: '2.0'

################################################################################
#                              API Information                                 #
################################################################################
info:
  title: Tinker-api
  version: "0.0.1"

################################################################################
#                  Host, Base Path, Schemes and Content Types                  #
################################################################################
host: api.tinkerpatch.com

schemes:
  - https
produces:
  - application/json



################################################################################
#                                   Tags                                       #
################################################################################
tags:
  - name: Users
  - name: Relationships
    description: |
      Relationships are expressed using the following terms:

      **outgoing_status**: Your relationship to the user. Can be "follows",
        "requested", "none".
      **incoming_status**: A user's relationship to you. Can be "followed_by",
        "requested_by", "blocked_by_you", "none".

################################################################################
#                                   Parameters                                 #
################################################################################
parameters:
  user-id:
    name: user-id
    in: path
    description: The user identi***REMOVED***er number
    type: number
    required: true
  tag-name:
    name: tag-name
    in: path
    description: Tag name
    type: string
    required: true

################################################################################
#                                           Paths                              #
################################################################################
paths:
  /register:
    post:
      description: |
        "register a account with password"
      tags:
        - Users
      parameters:
        - in: body
          name: body
          description: login with password
          schema:
            $ref: '#/de***REMOVED***nitions/registerInfo'
      responses:
        200:
          description:
          schema:
            $ref: '#/de***REMOVED***nitions/retStatus'


################################################################################
#                                 De***REMOVED***nitions                                  #
################################################################################
de***REMOVED***nitions:
  registerInfo:
    type: object
    properties:
      username:
        type: string
      password:
        type: string
      email:
        type: string

  retStatus:
    type: object
    properties:
      status:
        type: string
      code:
        type: integer
      message:
        type: string
      data:
        type: object

