{
  "swagger" : "2.0",
  "info" : {
    "version" : "0.0.1",
    "title" : "Tinker-api"
  },
  "host" : "api.tinkerpatch.com",
  "tags" : [ {
    "name" : "Users"
  }, {
    "name" : "Relationships",
    "description" : "Relationships are expressed using the following terms:\n\n**outgoing_status**: Your relationship to the user. Can be \"follows\",\n  \"requested\", \"none\".\n**incoming_status**: A user's relationship to you. Can be \"followed_by\",\n  \"requested_by\", \"blocked_by_you\", \"none\".\n"
  } ],
  "schemes" : [ "https" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/auth/email_login" : {
      "post" : {
        "tags" : [ "Users" ],
        "description" : "login in with password",
        "operationId" : "***REMOVED***nd",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/de***REMOVED***nitions/emailLogin"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Logined",
            "schema" : {
              "$ref" : "#/de***REMOVED***nitions/retStatus"
            }
          }
        }
      }
    },
    "/register" : {
      "post" : {
        "tags" : [ "Users" ],
        "description" : "\"register a account with password\"\n",
        "operationId" : "addOne",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/de***REMOVED***nitions/registerInfo"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Created",
            "schema" : {
              "$ref" : "#/de***REMOVED***nitions/retStatus"
            }
          },
          "default" : {
            "description" : "Error",
            "schema" : {
              "$ref" : "#/de***REMOVED***nitions/retStatus"
            }
          }
        }
      }
    }
  },
  "de***REMOVED***nitions" : {
    "registerInfo" : {
      "type" : "object",
      "required" : [ "email", "password", "username" ],
      "properties" : {
        "username" : {
          "type" : "string"
        },
        "password" : {
          "type" : "string",
          "minLength" : 6
        },
        "email" : {
          "type" : "string"
        }
      }
    },
    "retStatus" : {
      "type" : "object",
      "required" : [ "status" ],
      "properties" : {
        "status" : {
          "type" : "string"
        },
        "code" : {
          "type" : "integer",
          "format" : "int64"
        },
        "message" : {
          "type" : "string"
        },
        "data" : {
          "type" : "object",
          "properties" : { }
        }
      }
    },
    "emailLogin" : {
      "type" : "object",
      "required" : [ "password", "rkey" ],
      "properties" : {
        "email" : {
          "type" : "string"
        },
        "password" : {
          "type" : "string"
        },
        "rkey" : {
          "type" : "string"
        }
      }
    }
  },
  "parameters" : {
    "user-id" : {
      "name" : "user-id",
      "in" : "path",
      "description" : "The user identi***REMOVED***er number",
      "required" : true,
      "type" : "number"
    },
    "tag-name" : {
      "name" : "tag-name",
      "in" : "path",
      "description" : "Tag name",
      "required" : true,
      "type" : "string"
    }
  }
}